
#login-logout{
    margin-right: 10px;
}
#badge{
    margin-left: -2px;
    margin-top: 10px;
    width: 20px;
    font-size: 0.6em;
}
#shoping-basket{
    margin-right: 80px;
    }

#logo{
    width: 100px;
    height: 40px;
}